body{
    zoom: 0.875;
    overflow: hidden;
}
.t2{
    display: flex;
    padding-top: 5px;
}

table{
    border-collapse: collapse;
}

td, th, tr {
    border: 1px solid #dddddd;
    text-align: left;
    padding: 8px;
}

tr:nth-child(odd),table.list thead>tr {
    background-color: #dddddd;
}
th{
    background-color:#9E9E9EFF ;
}

input[type=text], input[type=number], input[type=date], input[type=file]{
    width: 100%;
    padding: 12px 20px;
    margin: 8px 0;
    display: inline-block;
    border: 1px solid #ccc;
    border-radius: 4px;
    box-sizing: border-box;
}
input[type=checkbox]{
    width:22%;
    padding: 12px 20px;
    margin: 8px 0;
    display: inline-block;
    border: 1px solid #ccc;
    border-radius: 4px;
    box-sizing: border-box;
}
input[type=radio]{
    width:50%;
    padding: 2px 0px;
    margin: 8px 0;
    display: inline-block;
    border: 1px solid #ccc;
    border-radius: 4px;
    box-sizing: border-box;
    margin-right: 2px !important;

}
input[type=submit]{
    width: 30%;
    background-color: #ddd;
    color: #000;
    padding: 14px 20px;
    margin: 8px 0;
    border: none;
    border-radius: 4px;
    cursor: pointer;
}
   

form div.form-action-buttons,form div.form-action-buttons1{
    text-align: right;
}
.form-action-buttons{
    text-align: right;
}

a{
    cursor: pointer;
    text-decoration: underline;
    color: #0000ee;
    margin-right: 4px;
}

label.validation-error{
    color:   red;
    margin-left: 5px;
}

.hide{
    display:none;
}
.table{
    display: flex;
}
.event, #subevent1
{
    justify-content: space-between;
    align-self: stretch;
}
.modal-right1{
    text-align: right !important;
}
.dash{
    flex-shrink: 3;
    padding-right: 10px;
    padding-left: 10px ;
    background: #a3c4c9;
    margin-right: 5px;
    height: 800px;
}
.dash a{
    text-decoration:none;
    color: black;
    background-color: #ddd;
   
    padding:  14px 15px;
    margin: 8px 0;
   
    border-radius: 4px;
    cursor: pointer;
    text-align: center;
    border: solid 1px #2c6966;
}
.dash li{
    padding-bottom: 25px;
}


.top2
{
    background: #aebdb8;
    display: inline-flex;
    height: 80px;
    width: 100%;
    
}
.top2 label
{
    display: flex;
    text-align: center;
    align-self: center;
    margin-left: 1%;
    font-size: 170%;
    background: #a3c4c9;
    padding: 10px 15px;
    border-radius: 4px;
    border:solid 1px;
    margin-top: 6px;
}
.top2 nav {
    margin-left: auto;
    margin-right: 40px;
    margin-top: 25px;
}
.top2 li{
    display: inline;
    margin: 0 20px 0 20px;
}
.top2 a{
    text-decoration: none;
    width: 30%;
    background-color: #ddd;
    color: #000;
    padding: 14px 20px;
    margin: 8px 0;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    text-align: center;
   
}
.btn{
    display: inline !important;
}

.list th{
    height: 50px;
    border:black
}
.sbev{
    list-style: none;
    
}
.sbev a{
    background: none !important;
    color: blue;
    text-transform: none;
    border: none;
    box-shadow: none;
    font-size: 90%;
    padding: 0px 0px 0px 0px;
    margin: 0px 0px 0px 0px;;
}
.sbev a:hover{
    background: none !important;
    color: blue !important;
    text-transform: none;
    border: none;
    box-shadow: none;
}
/* .sbeva:focus,.sbeva:active,.sbeva:av{
    outline: none !important;
    box-shadow: none !important;
    background: none !important;
} */
#dashl{
    
    justify-content: center;
    align-content: center;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 110%;
    font-style: bold;
}
.img{
    border-style: solid;
    border-width: auto;
    border-image-width: auto;
    border-width: 1.4px;
    background: white;
    width: 60%;

}
.table{
    padding-top: 5px;
}
.dashitem li{
    list-style: none;
    padding-top: 20px;
}
.dashitem ul{
    float:left;
    padding-left: 10px;
    font-size: 120%;
    
}
.list , .list1{
    flex-grow: 2;
    column-width: auto;
   
}
/* th, tr{
    text-align: center !important;
    font-size: 90%;
} */


.modal-login {
    position: absolute;
    top: 40px;
    right: 100px;
    
    width: 450px;
  }
.modal-dialog{
    overflow-y: initial !important
}
.modal-subevent{
    height: 610px;
    overflow-y: auto;

}
.listsb{
    width: 100%;
}
/* .modal-listsbev{
    width: 700px;
    position: absolute;
    right: 12%;
    top: 23%;
} */